.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 50vh;
    width: 50%;
    margin-top: 5rem;
}

form {
    width: 80%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}


.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.addbtn {
    width: 20%;
    
}