.text-center {
    text-align: center;
}

img {
    clip-path: circle(50% at 50% 50%);
}

.container { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-center {
    text-align: center;
}