<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="container">
      <div className="img">
        <img
          width="200px"
          height="200px"
          className="rounded-circle Profile-image"
          src="../../../assets/images/Ankit.jpg"
          alt=""
        />
      </div>
      <div class="info text-center"><h3>Ankit Bisen</h3></div>
    </div>
    <i class="fas fa-camera-retro"></i>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="heading">
      <h1 matCardTitle>Welcome</h1>
      <p mat-body-2>here you can find all projects</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
