<mat-card>
  <div class="mat-display-1" align="center">Game Control</div>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="startInterval()">
        Start
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="warn"
        class="mx-3"
        (click)="stopInterval()"
      >
        Stop
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <p style="text-align: center;" id="counter">{{ num }}</p>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <app-even [value]="evenvalue"></app-even>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-odd [value]="oddvalue"></app-odd>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
