<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile
    ><mat-card>
      <div class="mat-display-1">Parent Component</div>
      <div class="input-group input-group-lg">
        <mat-form-field class="text-field" floatLabel="auto" appearance="standard">
          <mat-label>Parent Title</mat-label>
          <input #parentval matInput>
        </mat-form-field>
        <button style="margin-left: 1rem;"
          mat-raised-button
          (click)="getvalue(parentval.value)"
          color="primary"
        >
          To Child
        </button>
      </div>
      <p class="mat-subheading-2" [style]="">Result :</p>
      <p id="parent-result">
        {{ childValue }}
      </p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-child-component
      [value]="parentValue"
      (newItemEvent)="addItem($event)"
    ></app-child-component>
  </mat-grid-tile>
</mat-grid-list>
