<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="login-image">
      <img src="../../../assets/images/img-01.png" alt="" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    ><div class="container">
      <h2 style="text-align: center">Login</h2>
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>UserName</mat-label>
          <input [(ngModel)]="loginUser.username" name="username" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            [(ngModel)]="loginUser.password"
            name="password"
            type="password"
            matInput
          />
        </mat-form-field>
        <div class="btn">
          <button
            class="login"
            (click)="login()"
            mat-raised-button
            color="primary"
          >
            Login
          </button>
        </div>
      </div>
    </div></mat-grid-tile
  >
</mat-grid-list>
