.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    margin-top: 5rem;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
}

.login {
    width: 20%;
}